APP_TITLE=Кошачий благотворительный фонд (0.1.0)
APP_DESCRIPTION=Сервис для поддержки котиков!
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=secret
FIRST_SUPERUSER_EMAIL=admin@mail.ru
FIRST_SUPERUSER_PASSWORD=admin
MIN_PASSWORD_LENGTH=3